<div class="row">
  <div class="col">
    <%= form_with(model: @discount, url: merchant_discounts_path(params[:merchant_id]), local: true) do |f| %>
    <div class="p-3">
      <%= f.label :percentage, 'percentage' %>
      <%= f.number_field(:percentage, in: 1..90, step: 1.0) %>
    </div>
    <div class="p-3">
      <%= f.label :threshold, 'threshold' %>
      <%= f.number_field(:threshold, in: 1..90, step: 1.0) %>
    </div>
    <div>
      <%= f.submit 'submit new discount', {class: 'btn btn-primary m-3'} %>
    </div>
    <% end %>
  </div>
</div>