<div class="row">
  <div class="col-12 p-3">
    <%= sanitize Kramdown::Document.new(@markdown_copy).to_html %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= tag.h1 'All Merchants' %>
  </div>
</div>
<div class="grid">
  <% @merchants.each do |m| %>
    <div class="grid-item card">
      <%= tag.h6 link_to m.name, merchant_path(m.id) %>
      <%= "merchant status: #{m.status}" %>
      <br>
      <%= "id: #{m.id}" %>
      <br>
      <%  if m.discounts.count != 0 %>
        <% m.discounts.each do |discount| %>
          <%= "buy #{discount.threshold} items get #{discount.percentage}% off" %>
          <br>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
