<div class="row">
  <div class="col">
    <h1>My Bulk Discounts</h1>
    <%= link_to 'create new discount', new_merchant_discount_path(params[:merchant_id]) %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Upcoming Holidays</h3>
    <table class="table">
    <tr>
      <th>Holiday</th>
      <th>date</th>
    </tr>
    <% @upcoming_holidays[0..2].each do |holiday| %>
    <tr>
      <td><%= holiday.name %></td>
      <td><%= holiday.date %></td>
    </tr>
    <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <th>Percentage</th>
        <th>Threshold</th>
        <th> </th>
        <th> </th>
      </tr>
      <% @merchant.discounts.each do |discount| %>
      <tr>
      <td><%= discount.percentage %></td>
      <td><%= discount.threshold %></td>
      <td><%= link_to 'discount page', "/merchants/#{@merchant.id}/discounts/#{discount.id}" %></td>
      <td><%= link_to 'delete discount', merchant_discount_path(@merchant.id, discount.id), data: {confirm: 'are you sure?'}, method: :delete %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
